.loader_bg{
  position: fixed;
  z-index: 999999;
  background: #fff;
  width: 100%;
  height: 100%; 
}
.loader{
  border: 0 solid transparent;
  border-radius: 50;
  width: 150px;
  height: 150px;
  position: absolute;
  top: calc(50vh - 75px);
  left: calc(50vw - 75px);
}
.loader:before, .loader:after{
  content:'' ;
  border: 1em solid #ff5733;
  border-radius: 50%;
  width: inherit;
  height: inherit;
  position: absolute;
  top: 0;
  left: 0;
  animation: loader 2s linear infinite;
  opacity:0;
}
.loader:before{
  animation-delay: .5s;
}
@keyframes loader{
  0%{
    transform: scale(0);
    opacity: 0;
  }
  50%{
    opacity: 1;
  }
  100%{
    transform: scale(1);
    opacity: 0;
  }
}
h1{

        font-family: "Times New Roman", Times, serif;
      
    color: black; 
}
.box {
    width: 1500px; /* set the width of the box */
    height: 300px; /* set the height of the box */
    border: 5px solid burlywood; /* add a border around the box */
    padding: 10px; /* add padding inside the box */
    background-image: linear-gradient(to right, #DECBA4, #3E5151);
  }
  
  .box::before {
    content: '';
    position: absolute;
    top: 415;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    border-left: 2px solid black;
  }

  .textbox {
    width: 40%;
    float: right;
    padding: 20px;
    border: 1px solid #ccc;
  }
  
  .image-box {
    position: relative;
  }
  
  .image-box img {
    width: 100%;
    height: auto;
  }
  
  .image-text {
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: rgb(74, 58, 90);
    font-size: 1.5rem;
  }
  
  .image-text h2 {
    margin: 0;
    font-size: 2rem;
  }
  


  .image-text p1,p2{
    color: black;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 1.5rem;
  }
  
  .whatsapp_float {
    position: fixed;
    width: 60px;
    height: 60px;
    bottom: 40px;
    right: 40px;
    background-color: #25d366;
    color: #fff;
    border-radius: 50px;
    text-align: center;
    font-size: 30px;
    box-shadow: 2px 2px 3px #999;
    z-index: 100;
  }
  .whatsapp-icon {
    margin-top: 16px;
  }

  /* for mobile */
  @media screen and (max-width: 767px){
    .whatsapp-icon {
      margin-top: 10px;
    }
    .whatsapp_float {
      width: 40px;
      height: 40px;
      bottom: 20px;
      right: 10px;
      font-size: 22px;
    }

    #image-box-container {
      position: bottom;
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
      padding: 20px;
      background-color: #f2f2f2;
    }
    
    .image-box {
      position:absolute;
      width: 500px;
      height: 350px;
      background-color: white;
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
      padding: 10px;
      margin-right: 10px;
    }

    .lds-circle {
      display: inline-block;
      transform: translateZ(1px);
    }
  }
    .lds-circle > div {
      display: inline-block;
      width: 64px;
      height: 64px;
      margin: 8px;
      border-radius: 50%;
      background: #fff;
      animation: lds-circle 2.4s cubic-bezier(0, 0.2, 0.8, 1) infinite;
    }
    @keyframes lds-circle {
      0%, 100% {
        animation-timing-function: cubic-bezier(0.5, 0, 1, 0.5);
      }
      0% {
        transform: rotateY(0deg);
      }
      50% {
        transform: rotateY(1800deg);
        animation-timing-function: cubic-bezier(0, 0.5, 0.5, 1);
      }
      100% {
        transform: rotateY(3600deg);
      }
    }
